APP_HOST=0.0.0.0
APP_PORT=8080
APP_BASE_URL=http://192.168.100.54:8080
APP_TIMEZONE=America/Chicago
APP_SECRET_KEY=change-me
LOOKAHEAD_HOURS=12
REFRESH_SECONDS=30
MOCK_DATA_MODE=0
TOKEN_STORE_PATH=data/tokens.json

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALENDAR_ID=primary

MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=common

ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=

UI_LABEL=Chronopi
UI_SUBLABEL=Home Office
UI_THEME=dark
SCREEN_WIDTH=480
SCREEN_HEIGHT=320
SCREEN_ROTATION=right
FRAMEBUFFER_DEVICE=/dev/fb1
FULLSCREEN_MODE=0
